.ricevimento_ciSaroContainer {
    display: flex;
    width: 100%;
    padding: 1rem 0rem;
    justify-content: space-between;
    max-width: 20rem;
    margin: auto;
}

.ricevimento_ciSaroButton {
    width: 8rem;
    background: var(--colorShadeA);
    color: white;
    border-radius: 1rem;
    cursor: pointer;
}

.ricevimento_ciSaroButton:hover {
    background-color: var(--colorShadeB);
}

.ricevimento_ciSaroButton:active {
    background-color: var(--colorShadeC);
}