.card_Image {
	height: 100%;
	cursor: pointer;
}

.card_ImageContainer {
	border: 2px solid var(--colorShadeA);
	border-radius: 1em;
	order: 0;
	width: 12rem;
	height: 8rem;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.card_ImageLarge {
	width: 100%;
	height: auto;
}

.card_ImageLargeContainer {
	border-radius: 1em;
	order: 0;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: auto;
	height: 20rem;
}

.card_Container {
	display: flex;
	padding-bottom: 1rem;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 1rem 0rem;
}

.card_OpenModalButton {
	order: 2;
	display: flex;
	width: 5.5rem;
	justify-content: space-between;
}

.card_Content {
	width: 100%;
	padding: 1rem 1rem;
	order: 1;
	max-width: 30rem;
	cursor: pointer;
}

.card_Title {
	font-weight: bold;
	font-family: 'Raleway';
	font-size: 1.1rem;
	color: var(--colorShadeA);
}

.card__iconbox {
	width: 2rem;
	margin-top: 1rem;
	cursor: pointer;
}

@media only screen and (max-width: 784px) {
	.card_Content {
		order: 2;
		padding: 1rem 0rem;
		max-width: 33rem;
	}
	.card_OpenModalButton {
		order: 1;
	}
}

@media only screen and (max-width: 700px) {
	.card_ImageLarge {
		width: auto;
		height: 20rem;
	}

	.card_ImageLargeContainer {
		max-height: 20rem;
		height: auto;
	}
}
