.cardImage {
    height: 100%;
}

.cardImageContainer {
    border: 2px solid var(--colorShadeA);
    border-radius: 1em;
    order: 0;
    width: 10rem;
    height: 8rem; 
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.cardImageLarge {
    width: 100%;
    height: auto;
}

.cardImageLargeContainer {
    border-radius: 1em;
    order: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: auto;
    height: 20rem;
}

.cardContainer {
    display: flex;
    padding: 1.5rem 0rem;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cardOpenModalButton {
    order: 2;
}

.cardContent {
    width: 100%;
    padding: 1rem 1rem;
    order: 1;
    max-width: 30rem;
}

.cardTitle {
    font-weight: bold;
    font-family: 'Raleway';
    font-size: 1.1rem;
    color: var(--colorShadeA);
}

@media only screen and (max-width: 784px) {
    .cardContent {
      order: 2;
      padding: 1rem 0rem;
      max-width: 33rem;
    }
    .cardOpenModalButton {
        order: 1;
    }
  }

  @media only screen and (max-width: 700px) {
    .cardImageLarge {
        width: auto;
        height: 20rem;
    }
    
    .cardImageLargeContainer {
        max-height: 20rem;
        height: auto;
    }
  }