.badge_container {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    border: solid var(--colorShadeA);
    border-radius: 1rem;
    width: 12rem;
    margin: auto;
    color: var(--colorShadeA);
    font-weight: bold;
    cursor: pointer;
}

.badge_container:hover {
    color: var(--colorShadeB); 
}