.cardImage {
    width: 10rem;
    background: white;
    border: 2px solid var(--colorShadeA);
    border-radius: 1em;
}
.cardContainer {
    display: flex;
    padding: 1.5rem 0rem;
    border-bottom: solid 1px var(--colorShadeB);
    align-items: flex-start;
}

.cardContainer:last-child {
    border-bottom:initial;
}

.cardContent {
    width: 100%;
    padding: 0rem 1rem;
}

.cardTitle {
    font-weight: bold;
    font-family: 'Raleway';
    font-size: 1.1rem;
    color: var(--colorShadeA);
}