.input_container {
  margin: 1rem 0rem;
}

.input_label {
    color: var(--colorShadeA);
    font-weight: bold;
    font-family: 'Raleway';
    margin-left: 0.8rem;
    display: flex;
}

.input_label_error {
  color: var(--errorColor);
}

.input_field {
  height: 2.5rem;
  min-width: 16rem;
  border-radius: 1rem;
  border: 2px solid var(--colorShadeA);
  padding: 0.2rem 0.5rem;
}

.input_field_error {
  border: 2px solid var(--errorColor);
}

.input_error_label {
  margin-left: 0.8rem;
  font-style: italic;
  color: var(--errorColor);
  font-size: 0.9rem;
  margin-bottom: -1rem;
  max-width: 17rem;
  margin: auto;
}