.interactions_commentBox {
	padding: 1rem;
	background-color: var(--colorShadeE);
	border-radius: 1rem;
	margin-top: 1rem;
}

.interactions_sendButton {
	padding: 0.7rem;
	width: 8rem;
	margin-bottom: 1rem;
}

.interactions_senbuttonCase {
	width: 100%;
	text-align: center;
}
