#pageContainer {
    height: 98vh;
    width: 98vw;
    max-width: 55rem;
}

#pageHeader {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#pageLabel {
    font-size: 1.5rem;
    color: var(--colorShadeA);
    font-weight: 700;
    font-family: 'Raleway';
    text-align: center;
    width: 100%;
    margin-right: 2rem;
}

#pageContent {
    height: 80vh;
    overflow: auto;
}

#backButton {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0rem 0.8rem;
    margin-top: -0.4rem;
}