body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "OpenSans", sans-serif;
  font-size: 1rem;
  line-height: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-size: cover;
}

.app_main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --backgroundColor: rgb(255, 255, 255);
  --colorShadeA: rgb(106, 163, 137);
  --colorShadeB: rgb(121, 186, 156);
  --colorShadeC: rgb(150, 232, 195);
  --colorShadeD: rgb(187, 232, 211);
  --colorShadeE: rgb(236, 252, 245);
  --errorColor: rgb(196, 72, 246);
}

.standardBox {
  padding: 1em 1.5em;
  border: 2px solid var(--colorShadeA);
  border-radius: 1em;
  background: var(--colorShadeE);
}

.actionForward{
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0rem 0.8rem;
  margin-top: 1.5rem;
}

.cake-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  color: var(--colorShadeA);
  font-weight: 700;
  font-family: 'Raleway';
}

button.cake-button {
  border: 2px solid var(--colorShadeA);
  border-radius: 1em;
  background: var(--colorShadeE);
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
button.cake-button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--colorShadeC);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
  transform: translate3d(0, 0.75em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

button.cake-button:hover {
  background: var(--colorShadeD);
  transform: translate(0, 0.375em);
}

button.cake-button:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

button.cake-button:active {
  transform: translate(0em, 0.75em);
}

button.cake-button:active::before {
  transform: translate3d(0, 0, -1em);

  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
}

.borderBottom {
  border-bottom: solid 1px var(--colorShadeB);
}

.borderBottom:last-child {
  border-bottom:initial;
}

.basic_plain_button {
  width: 8rem;
  background: var(--colorShadeA);
  color: white;
  border-radius: 1rem;
  cursor: pointer;
}

.basic_plain_button:hover {
  background-color: var(--colorShadeB);
}

.basic_plain_button:active {
  background-color: var(--colorShadeC);
}

@media only screen and (max-width: 600px) {
  .standardBox {
    padding: 1em 0.8em;
  }
}