.CTC_container {
  display: flex;
  align-items: center;
  height: 2.5rem;
}

.CTC_copyButton {
  margin-left: 0.5rem;
  padding: 0.1rem;
  background: var(--colorShadeA);
  color: white;
  cursor: pointer;
  border-radius: 3rem;
  width: 1.9rem;
  text-align: center;
}

.CTC_copyButton:hover,
.CTC_copyButton:focus{
  background: var(--colorShadeC);
}