.menu_buttonsContainer {
	display: flex;
	flex-direction: column;
	padding: 0px 10px;
}

#menu_main_container {
	height: 95vh;
	max-width: 500px;
	width: 90vw;
	margin-top: 0.2rem;
	overflow: auto;
}

.menu_ggCover {
	width: 100%;
	border-radius: 1rem;
}

.menu_body_container {
	padding: 1rem;
}

.menu_logout {
	text-decoration: underline;
	cursor: pointer;
	text-align: center;
	color: var(--colorShadeA);
	margin-top: 1rem;
}

.menu_ggLogo {
	text-align: center;
	width: 100%;
	font-family: 'Raleway', cursive;
	padding: 20px 0px;
	font-size: 2.2rem;
	color: var(--colorShadeA);
	line-height: 2.8rem;
	text-shadow: 0px 0px 8px #fff;
	font-weight: 900;
}
